/*
* @Author: user
* @Date:   2017-04-17 17:40:54
* @Last Modified by:   user
* @Last Modified time: 2017-04-17 17:52:02
*/
/*账户管理私有*/
.zhgl_zhanghuguanli .js-cons{display:inline-block;font-weight: 400;padding: 6px 15px; margin-right: 5px;}
.zhgl_zhanghuguanli .cons-success{background-color:#eeeeee;border-color:#3ba436;}
.zhgl_zhanghuguanli .listx .labeld {width: 60px;}
.zhgl_zhanghuguanli .listx .labeld span {display: inline-block;font: 400 13px/22px "微软雅黑";color: #666;margin: 0  0  0 27px;float: left;}
.zhgl_zhanghuguanli .panel .zhanwei  img{ width:433px;height:257px; margin:30px auto;}



 /*快捷通道公用样式*/
.kjtd .bjgl-list1 {width: 26%; height:100%;}
.kjtd .panel-llist {min-height: 470px;}
.kjtd .panel-rlist {min-height: 425px;}
.kjtd .red {font-size: 14px; font-weight: 400; color: red;}
.kjtd .green {font-size: 14px; font-weight: 400; color: green;}
.kjtd .panel-heading a {display: none;color: #ff9900;font-weight: 400;margin: 0 15px; font-size: 12px;}
.kjtd .bossss {display: inline-block; }
.kjtd .bossss:hover a{ display: inline-block;}
.kjtd .search-box .sb1-input {width: 66%;min-width: 170px; }
.kjtd .bjgl-list .panel-body ul li:hover, .kjtd .bjgl-list .panel-body ul li.on{border-left-color:#CFC;}
.kjtd .panel-heading {padding: 10px 0;}
.kjtd .panel-heading11{ padding: 17px 15px;}
.kjtd .panel-heading11 .btn-success{margin-top: -7px;}
.kjtd .bianji label {font-weight: 400; }
.kjtd .bianji li {line-height: 40px;}
.kjtd .bianji li i {float:left;line-height: 35px; width: 80px; ;margin-top: 3px }
.kjtd .bianji  input[type="text"] { width: 60%;float: left;margin-top: 3px }
.kjtd .bianji li .lableodd { width: 60%;float: left;line-height: 37px; }
.kjtd .bianji li .lableodd label{margin: 3px 25px 0 0;}
.kjtd .search-info{padding:20px 0 20px 20px;}
.kjtd .table a{ display: inline-block; width: 30%; text-align: center;}
.kjtd .table .c-999{ display: inline-block; width: 30%; text-align: center;}
.kjtd #js-bianji {display: none;}
.kjtd .panel-body{ padding-top:10px; padding-bottom:10px;}
.kjtd .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width: 60%;}
.kjtd .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) li{ height: 100%;} 
.kjtd .search-box .sb-input{height:35px;border-radius:4px;border:1px solid #3ba436;padding-left:120px;float:left;margin-right:5px;width:70%}
.kjtd .search-box .sb-nav{position:absolute;top:0px;left:0px;cursor:pointer;height:35px;line-height:35px;padding-left:15px;}
.kjtd .search-box .sb-nav span{margin-right:5px;display:inline-block;}
.kjtd .search-box .sb-nav i{height:38px;width:65px;overflow:hidden;display:inline-block;vertical-align:middle;font-style:normal;}


 /* 班级通道私有*/
.paike-tanchuang .modal-content { width:80%;}
 #js-tishi span {padding-right: 14%;}
 #js-tishi i {margin-left: 8  %;}
.kjtd1  #js-table .green-a {display: inline-block;width: 45%;}
.kjtd1 #modal-bodyone .form-control {width: 50%;}
.kjtd1 #modal-bodyone .modal-info>ul>li>span {width:70px;}
.kjtd1 #modal-bodyone .editinfo>ul>li {width: 25%; float: left;}
.kjtd1 .modal-info>ul>li {clear: none;}
.kjtd1  #tjxy-table .square-green {vertical-align: top;}
.kjtd1  #tjxy-table .square-green .icheckbox_square-green{float: left;}
.adv-table .table .m-tr:hover td{background:#fff; border:1px solid #ddd;}
.panel-body .adv-table .table .m-tr td:hover{background:#ccffcc; border:1px solid #aaffaa;}
.kjtd1 .panel-body {padding:10px;}
#tjxy-addKechengModal  .modal-dialog{width: 1000px;}/*添加学员改需求*/
#tktc-editKechengModal  .modal-content {width: 800px;}/*修改时间的弹窗样式*/

 /* 学员通道私有*/
.kjtd-x #js-table .bootstrap-select{width: auto;}
.kjtd-x .table #js-table .dropdown-menu a{width: 100%;}


